h1{
    color: green;
    font-size: 24px;
    text-align: center;
    }
    div#imagem{
        text-align: center;
    }
    body{
    background-image: url(imagens/fundo.jpg);
    margin-right:20px;
    }
    p,ol,ul{
        color: black;
        font-weight: bold
    }
    h5#txt{
        font-size: 19px;
    }
    h3{
        color: rgb(11, 141, 91);
        font-size: 24px;
        text-align: center;
    }
    h2{
        color:rgb(11, 141, 91);
        font-size: 24px;
        text-align: center;
    }
    div#audio{
        text-align: center;
    }
    h3{
        color: black;
        font-weight: bold 
    }
  
